/*base stylesheet*/

body {
  margin: 0;
  font-family: helvetica;
  text-align: center;
}

ul {
  list-type: none;
  margin: 0;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.nav {
  overflow: hidden;
}

.nav h1 {
  margin-bottom: 10px;
}

.nav #logo {
  float: left;
  margin-left: 20px;
}

.nav #menu {
  float: right;
}

#menu a {
  display: inline-block;
  margin-right: 20px
}

.footer {
  padding: 20px;
}

.error {
  color: red;
  padding: 20px;
}




/*todo list*/

.todo-item {
  padding: 20px;
}

.todo-item {
  margin: 10px;
}

.todo-item h3 {
  margin: 0 10px;
  display: inline-block;
}

.todo-item input {
  margin: 0 10px;
  display: inline-block;
}

.form #todo-form {
  margin: 10px;
}
